.resource-attributes-container{
    display: flex;
    flex-direction: column;
    gap: 5px
}
.resource-attributes-container .divisor{
    border-top: 1px solid #999683;
    border-bottom: 1px solid #999683;
    padding: 3px 0;
}
.resource-attributes-container .divisor div{
    display: flex;
    align-items: center;
}
.resource-attributes-container .divisor label{
    font-weight: bold;
}
.resource-attributes-container .divisor p{
    margin: 0;
}