.item-resource-card{
    border: 1px solid #999683;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 75px;
    flex-grow: 1;
    justify-content: space-between;
}
.item-resource-card .item-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.item-resource-card .item-description .item-image{
    width: 50px;
    height: 50px;
}
.item-resource-card .item-description .item-image a{
    width: 100%;
    height: 100%;
}

.item-resource-card .item-description .item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-resource-card .item-description .item-info .item-name{
    text-align: center;
    margin: 0;
}

.item-resource-card .item-controls{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #999683;
    width: 100%;
    text-align: center;
}