.simple-settlements-settlement .tabs{
    flex-wrap: wrap;
}

.settlement-sheet-header .header-fields {
    display: flex;
}
.settlement-sheet-header .header-fields h1 {
    font-size: 36px;
}
.settlement-sheet-header .time-passage{
    flex-grow: 0 !important;
}
.settlement-sheet-header .time-passage i{
    font-size: 36px;
}

.important-resources-log{
    margin: 5px 0;
}

.resources .resources-tabs{
    border-bottom: 1px solid #B5B3A4;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.resource-income-list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    width: 100%;
}