<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    {{#if isObserverOrHigher}}
    <a class="item" data-tab="attributes">Attributes</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor description target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{#if isObserverOrHigher}}
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="resource-attributes-container">
        <div class="quantity-container divisor">
          <label for="system.quantity">Quantity: </label>
          <input name="system.quantity" type="text" value="{{item.system.quantity}}" placeholder="0"/>
        </div>
  
        <div class="is-static-container divisor">
          <div>
            <label for="system.isStatic">Is Static: </label>
            <input name="system.isStatic" type="checkbox" {{checked data.system.isStatic }}/>
          </div>
          <p>Static Items does not stack into the storage, they are just a sum of all incoming and stored resources</p>
        </div>

        <div class="is-important-container divisor">
          <div>
            <label for="system.isImportant">Is Important: </label>
            <input name="system.isImportant" type="checkbox" {{checked data.system.isImportant }}/>
          </div>
          <p>Important Items will show in the settlement's header log.</p>
        </div>
  
        <div class="category-container divisor">
          <label for="system.category">Category: </label>
          <input name="system.category" type="text" value="{{item.system.category}}"/>
        </div>
      </div>
    </div>
    {{/if}}
  </section>
</form>
