{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header settlement-sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
    <a class="time-passage"><i class="fa-duotone fa-hourglass-start"></i></a>
  </header>
  <section class="important-resources-log">
    {{> "modules/simple-settlements/templates/parts/settlement-important-resources-income.html"}}
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="buildings">Buildings</a>
    <a class="item" data-tab="resources">Resources</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor description target="system.description" button=true editable=editable}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      {{> "modules/simple-settlements/templates/parts/settlement-features-manager.html"}}
    </div>

    {{!-- buildings Tab --}}
    <div class="tab buildings" data-group="primary" data-tab="buildings">
      {{!-- As you add new fields, add them in here! --}}
      {{> "modules/simple-settlements/templates/parts/settlement-buildings-manager.html"}}
    </div>

    <div class="tab resources" data-group="primary" data-tab="resources">
      {{!-- As you add new fields, add them in here! --}}
      <nav class="resources-tabs tabs" data-group="secondary">
        <a class="item" data-tab="income">Income</a>
        <a class="item" data-tab="storage">Storage</a>
      </nav>
      <div class="resources-container">
        <div class="tab resources-income-log" data-group="secondary" data-tab="income">
          {{> "modules/simple-settlements/templates/parts/settlement-resources-income.html"}}
        </div>
        <div class="tab resources-storage" data-group="secondary" data-tab="storage">
          {{> "modules/simple-settlements/templates/parts/settlement-resources-static-storage.html"}}
          {{> "modules/simple-settlements/templates/parts/settlement-resources-non-static-storage.html"}}
        </div>
      </div>
    </div>
  </section>
</form>
