<div class="building-features-manager">
  <a class="item-control item-create" title="Create item" data-type="simple-settlements.feature"><i class="fas fa-plus"></i> Add feature</a>
  <ol class="item-list features-cards-list">
    {{#each features as |feature|}}
        <li class="item feature-card" data-item-id="{{feature._id}}">
          <div class="feature-details">
            <h2 class="card-title">{{feature.name}}</h2>
            <div class="card-description">
              {{{feature.system.description}}}
            </div>
          </div>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-feature-send" title="Send Item"><i class="fa-solid fa-comment"></i></a>
          </div>
        </li>
    {{/each}}
  </ol>
</div>