<div class="important-resources-log-container">
    <ol class="important-resources-log-list item-list">
        {{#each importantIncome.static as |resource|}}
            <!-- resource custom class field for macro support (resource.data.customClass) -->
            <li class="item important-log-card {{#if resource.data.customClass}}{{resource.data.customClass}}{{/if}}" {{#if (higherThan resource.log.length 0)}} data-tooltip='{{> "modules/simple-settlements/templates/parts/settlement-resources-income-tooltip.html"}}' data-tooltip-direction="LEFT" {{/if}} data-item-id="{{resource.data._id}}">
                <div class="card-info">
                    <div class="card-image">
                        <img src="{{resource.data.img}}" title="{{resource.data.name}}"/>
                    </div>
                    <span> : </span>
                </div>
                <span>{{sum resource.income resource.stored}}</span>
            </li>
        {{/each}}
        {{#each importantIncome.nonStatic as |resource|}}
            <!-- resource custom class field for macro support (resource.data.customClass) -->
            <li class="item important-log-card {{#if resource.data.customClass}}{{resource.data.customClass}}{{/if}}" {{#if (higherThan resource.log.length 0)}} data-tooltip='{{> "modules/simple-settlements/templates/parts/settlement-resources-income-tooltip.html"}}' data-tooltip-direction="LEFT" {{/if}} data-item-id="{{resource.data._id}}">
                <div class="card-info">
                    <div class="card-image">
                        <img src="{{resource.data.img}}" title="{{resource.data.name}}"/>
                    </div>
                    <span> : </span>
                </div>
                <!-- <span>{{resource.stored}} + {{resource.income}}</span> -->
                <span>{{resource.stored}} {{#if (higherThan resource.income -1)}}+{{/if}} {{resource.income}}</span>
            </li>
        {{/each}}
    </ol>
</div>