<div class="settlement-building-manager">

    {{#each categorizedBuildings as |category|}}
      <ol class="buildings-list buildings-resumed">
        <h2 class="category-title">{{category.name}}</h2>
        {{#each category.buildings as |building id|}}
          <li class="building-card {{#if building.isInactive}}building-inactive{{/if}}" 
          draggable="true"
          data-building-id="{{building._id}}">
            
              <div class="main">
                <div class="building-description" >
                  <div class="building-image" data-tooltip='<img src="{{building.img}}"/>' data-tooltip-direction="LEFT">
                    <img {{#if building.isInactive}}class="innactive"{{/if}} src="{{building.img}}" title="{{building.name}}"   />
                  </div>
                  <div class="building-info">
                    <h4 class="building-name">{{building.name}}</h4>
                    <input type="checkbox" class="building-toggle-activation" {{checked building.isRawInactive }}/>
                  </div>
                </div>
                <ol class="building-resources-container">
                  <div class="isInactive-container">
                    {{#if building.isInactive}}
                      <label>Inactive Building</label>
                    {{/if}}
                  </div>
                  {{#unless building.isInactive}}
                    {{#each building.system.resources as |item id|}}
                        <li class="settlement-building-resource-card" data-item-id="{{item._id}}" data-tooltip='{{item.name}} ({{#if (higherThan item.system.quantity 0)}}+{{/if}}{{item.system.quantity}})' data-tooltip-direction="LEFT">
                            <div class="item-description">
                                <div class="item-image">
                                    <img src="{{item.img}}" title="{{item.name}}" />
                                </div>
                                <span class="item-value">
                                    {{multiplyToString item.system.quantity building.quantity item.system.isStatic}}
                                </span>
                            </div>
                        </li>
                    {{/each}}
                  {{/unless}}
                </ol>
              </div>
              <div class="item-controls">
                <a class="item-control item-see" title="Visualize Building"><i class="fa-solid fa-eye"></i></a>
                <a class="item-control item-remove" title="Remove Building"><i class="fa-solid fa-x"></i></a>
                <div class="item-amount-control">
                  <a class="quantity-control quantity-control-up"><i class="fa-solid fa-up"></i></a>
                  <span class="item-amount">{{building.quantity}}</span>
                  <a class="quantity-control quantity-control-down"><i class="fa-solid fa-down"></i></a>
                </div>
              </div>
            
            
          </li>
        {{/each}}
      </ol>
    {{/each}}
  </div>