<div class="important-resources-log-container">
    <ol class="important-resources-log-list">
        {{#each importantIncome.static as |resource|}}
            <!-- resource custom class field for macro support (resource.data.customClass) -->
            <li class="important-log-card {{#if resource.data.customClass}}{{resource.data.customClass}}{{/if}}">
                <div class="card-info">
                    <div class="card-image">
                        <img src="{{resource.data.img}}" title="{{resource.data.name}}"/>
                    </div>
                    <span> : </span>
                </div>
                <span>{{sum resource.income resource.stored}}</span>
            </li>
        {{/each}}
        {{#each importantIncome.nonStatic as |resource|}}
            <!-- resource custom class field for macro support (resource.data.customClass) -->
            <li class="important-log-card {{#if resource.data.customClass}}{{resource.data.customClass}}{{/if}}">
                <div class="card-info">
                    <div class="card-image">
                        <img src="{{resource.data.img}}" title="{{resource.data.name}}"/>
                    </div>
                    <span> : </span>
                </div>
                <span>{{resource.stored}} + {{resource.income}}</span>
            </li>
        {{/each}}
    </ol>
</div>